<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Indo – Israel International Joint Conference </title>
    <!-- Place favicon.ico in the root directory -->
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'Registration/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'Registration/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/responsive.css' %}">
    <script src="{% static 'Registration/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
{#        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">
{#{% if messages %}#}
{#    <ul class="messages">#}
{#        {% for message in messages %}#}
{#            <h1>Payment Success</h1>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand logo">
                <h2>iicsc2019</h2>
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home-page">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#track">tracks</a></li>
                <li><a href="#Dates">Important Dates</a></li>
                <li><a href="{% url 'register' %}">Register Now</a></li>
                <li><a href="#contact-page">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->


<!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute"></div>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-12 col-md-12 header-text">
                <div class="row logo_top">
                    <div class="col-sm-8 col-sm-offset-2">
                        <img src="{% static 'Registration/images/logo_top.png' %}">
                    </div>
                </div>
                <h4>Indo – Israel International Joint Conference on</h4>
                <h2>Sustainable Cities</h2>

                <p>A joint conference in partnership between Tel Aviv University (TAU),<br>
                    Agricultural Research Organization, Volcani Center (ARO),<br>
                    PSG College of Technology (PSGCT) and Kumaraguru College of Technology (KCT)</p>

                <p>18-20 September 2019 | PSGCT and Kumaraguru Campus,<br>Coimbatore, Tamil Nadu, India</p>

                <div class="row logo_bottom">
                    <div class="col-sm-4 col-sm-offset-4">
                        <img src="{% static 'Registration/images/iconlogo.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header-area/-->

<!--about-area-->
<section class="gray-bg section-padding" id="about">
    <div class="container">
        <div class="row about_sec">
            <div class="col-xs-12 col-sm-12">
                <h4>Introduction</h4>
                <p>Tel Aviv University, Israel (TAU), Agricultural Research Organization, Volcani Center, Israel (ARO),
                    PSG College of Technology(PSGCT), India and Kumaraguru College of Technology(KCT), India have come
                    together to hold a two day Bi-National Conference on Sustainable Cities. The conference is scheduled
                    during 18-20 September, 2019. The conference will host scholars/experts from India and Israel who
                    have done significant research on sustainable cities.</p>
                <p>Disruptive technologies such as IOT, Big Data, Blockchain, AI, VR/ AR are changing our lives in
                    inordinate ways. These technologies will transform the way we consume, travel, exercise, relax,
                    feed, house and clothe ourselves. This two day Bi-National Conference will explore how disruptive
                    technologies will impact the infrastructure, commutation of resources and services, economic
                    transactions and overall functioning of the cities.</p>
            </div>
        </div>
        <div class="row about_sec">
            <div class="col-xs-12 col-sm-12">
                <h4>Objectives</h4>
                <p>The objectives of holding this international conference are the following:</p>
                <ul>
                    <li>To promote India- Israel research partnership between academic institutions in the area of
                        Sustainable Cities
                    </li>
                    <li>To bring in the best of Israel’s Sustainable Cities technologies to India and identify research
                        opportunities that localizes the research and makes it relevant for Indian stakeholders.
                    </li>
                    <li>To allow government officials from various cities selected under the Smart Cities initiative in
                        India to utilize the expertise of globally available technologies.
                    </li>
                    <li>To promote connections between Israeli and Indian industry in the area of Sustainable Cities and
                        other technologies.
                    </li>
                </ul>
                <br>
                <a target="blank" class="get"
                   href="{% static 'Registration/images/Indo_Israel_International_Joint_conference.pdf' %}">Get
                    brochure</a>
            </div>
        </div>

    </div>
</section>


<section class="angle-bg sky-bg track section-padding" id="track">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Tracks</h2>
            </div>
        </div>
        <div class="row inside_main">
            <div class="col-xs-12">
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 1</span>
                            Smart City Applications
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 2</span>
                            Smart Transportation
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 3</span>
                            Remote Sensing
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 4</span>
                            Big data & machine learning
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row inside_main">
            <div class="col-xs-12">
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 5</span>
                            Sensors & Controls
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 6</span>
                            Energy
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 7</span>
                            Urban Agriculture
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 8</span>
                            City modeling
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row inside_main">
            <div class="col-xs-12">
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 9</span>
                            Smart Cities
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 10</span>
                            Water recycling and Water quality in cities
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 11</span>
                            Human Comfort and sensors
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 12</span>
                            Urban (micro) Climate
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row inside_main">
            <div class="col-xs-12">
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 13</span>
                            Food losses & effective use of food waste in cities
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 14</span>
                            Waste management technologies
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="right-code"></span>
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 15</span>
                            Satellite application for agriculture & environment
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="insidebox_container">
                        <div class="insidebox">
                            <span>Track 16</span>
                            Robotics & Automation
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="section-padding" id="Dates">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Important dates</h2>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Activity</th>
                        </tr>
                        <tr>
                            <td>April 5, 2019</td>
                            <td>1st call for papers</td>
                        </tr>
                        <tr>
                            <td>May 1, 2019</td>
                            <td> 2nd call for papers</td>
                        </tr>
                        <tr>
                            <td>June 1, 2019</td>
                            <td>Deadline for receiving of extended abstract</td>
                        </tr>
                        <tr>
                            <td>June 15, 2019</td>
                            <td>Notification of abstract acceptance</td>
                        </tr>
                        <tr>
                            <td>July 15, 2019</td>
                            <td> Last date for full length paper submission</td>
                        </tr>
                        <tr>
                            <td>August 16, 2019</td>
                            <td> Notification of paper acceptance</td>
                        </tr>
                        <tr>
                            <td>August 20, 2019</td>
                            <td> Last date of early bird registration</td>
                        </tr>
                        <tr>
                            <td>September 3, 2019</td>
                            <td> Last date for Camera ready paper submission</td>
                        </tr>
                        <tr>
                            <td>September 18-20, 2019</td>
                            <td> Presentation of papers at the Conference</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Guidelines to authors on publications</h2>
                    <p>Please prepare the manuscript in accordance with the IEEE Template and submit papers through Easy
                        Chair link:</p>
                    <a target="blank" href="https://easychair.org/conferences/?conf=iicsc2019">https://easychair.org/conferences/?conf=iicsc2019</a>
                    <p>Peer reviewed, Accepted papers can also be presented through Skype.</p>
                    <p>All the peer reviewed papers will be published in the following</p>
                    <ol>
                        <li>IEEE Xplore</li>
                        <li>As a conference proceedings published by CRC Press, Taylor & Francis Publisher, USA (with
                            ISBN)
                        </li>
                        <li>As a book chapter published by CRC Press, Taylor & Francis Publisher, USA (with ISBN)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding overlay" id="regist">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>Registration details</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="registration">
                    <h4>Domestic Delegates</h4>
                    <h6>Delegates from Industry</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>Rs 4,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 3,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 6,000</td>
                        </tr>
                    </table>
                    <br>
                    <h6>Delegates from Academia</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>Rs 3,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 2,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 4,000</td>
                        </tr>
                        <tr>
                            <td>Research Scholars/PG Students Conference only</td>
                            <td>Rs 2,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 1,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 2,5000</td>
                        </tr>
                    </table>

                    <ul class="social-menu">
                        <li><a href=""{% url 'register' %}>Register Now</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="registration">
                    <h4>International Delegates</h4>
                    <h6>From Academia</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>$180</td>
                        </tr>
                    </table>
                    <br>
                    <h6>Research Scholars/PG Students</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>$90</td>
                        </tr>
                    </table>

                    <ul class="social-menu">
                        <li><a href="{% url 'register' %}">Register Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gray-bg section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>Steering Committee</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Yosi Shacham</h5>
                    <p>The Bernard L. Schwartz Chair for Nano Scale Information Technologies, TAU</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Eyal Ben Dor</h5>
                    <p>Head, Remote Sensing Laboratory, TAU</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Abdussalam Azem</h5>
                    <p>Dean, George S. Wise Faculty of Life Sciences</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Nir Ohad</h5>
                    <p>Head, Manna Center Program for Food Safety and Security, TAU</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Tovi Fenster</h5>
                    <p>Professor, Department of Geography and Human Environment, TAU</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Itamar Glazer</h5>
                    <p>Deputy Director for Research and Development, ARO</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4><u>Convenors</u></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4">
                <div class="box commitee">
                    <h5>Prof.Eyal Ben-Dor</h5>
                    <p>Professor, Dept of Geography and Human Environment, TAU</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-4">
            </div>

            <div class="col-sm-3 col-md-4">
            </div>
        </div>
    </div>
</section>


<section class="gray-bg section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4><u>Chief Patrons</u></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Shri L Gopalakrishan</h5>
                    <p>Managing Trustee, PSG Institutions</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.B. K.Krishnaraj Vanavarayar</h5>
                    <p>Chairman, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Shri M.Balasubramaniam</h5>
                    <p>Correspondent, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Shri Shankar Vanavarayar</h5>
                    <p>Joint Correspondent, KCT</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4><u>Patrons</u></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Raju.V</h5>
                    <p>President, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.R.Rudramoorthy</h5>
                    <p>Principal, PSGCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.J.Senthil</h5>
                    <p>Principal, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.P.Radakrishnan</h5>
                    <p>Director, PSG Institute of Advanced Studies</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h4><u>Steering Committee</u></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.S.Subha Rani</h5>
                    <p>Professor & Head, Dept. of ECE, PSGCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.M.Ananthasubramanian</h5>
                    <p>Professor & Head, Dept. of Biotechnology, PSGCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.J.Arunshankar</h5>
                    <p>Professor & Head, Dept. of ICE, PSGCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.J.Kanakaraj</h5>
                    <p>Professor & Head, I/C Dept. of EEE, PSGCT</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Manivel R</h5>
                    <p>Head, R&D and Professor, Mechanical Engineering, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Saraswathi N</h5>
                    <p>Professor & Head, Bio-Technology, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Ram Sundaram N</h5>
                    <p>Associate Professor & Head, Civil Engineering, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Cynthia J</h5>
                    <p>Professor & Head, Computer Science and Engineering, KCT</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Thirumoorthi P</h5>
                    <p>Professor, Electrical and Electronics Engineering, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Prof.Umesh M.V</h5>
                    <p>Associate Professor, Electronics and Instrumentation Engineering, KCT</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">

            </div>
            <div class="col-sm-3 col-md-3">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4><u>Advisory Committee Members</u></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr. P A Manoharan</h5>
                    <p>Chairman, IEEE Madras Section</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Mukul Chandorka</h5>
                    <p>Professor, Department of Electrical Engineering, IIT, Mumbai</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.S.Ashok</h5>
                    <p>Professor Department of Electrical Engineering, NIT, Calicut.</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Gautam Poddar</h5>
                    <p>Associate Professor, Department of Electrical Engineering, IIT, Kharagpur</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.K Chandrasekaran</h5>
                    <p>Professor and Dean, Dean - R &Consultancy, Professor, CSE, NIT, Surathkal</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Masilamani V</h5>
                    <p>Professor, IIITDM, Kanchepuram</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.Vineeth N Balasubramanian</h5>
                    <p>Indian Institute of Technology, Hyderabad</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4><u>Convenors</u></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Dr.L.Ashok Kumar</h5>
                    <p>Professor & Associate Head, Dept. of EEE, PSGCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="box commitee">
                    <h5>Mr.Ravi Kandasamy</h5>
                    <p>Head, PMO, KCT</p>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
            </div>

            <div class="col-sm-3 col-md-3">
            </div>
        </div>


    </div>
</section>

<section class="section-padding" id="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="single-welcome">
                    <div class="endwelcome">
                        <h3>Tel Aviv University (TAU)</h3>
                        <p>Tel Aviv University (TAU) - Israel’s largest and most comprehensive institution of higher
                            learning - is home to over 30,000 students studying in nine faculties and over 125 schools
                            and departments
                            across the spectrum of sciences, humanities and the arts.</p>
                        <a target="blank" href="www.english.tau.ac.il">www.english.tau.ac.il</a>
                        <div style="height:20px;"></div>
                        <h3>PSG College of Technology (PSG)</h3>
                        <p>PSG College of Technology, an ISO 9001:2000 certified institution is one of the foremost
                            institutions founded by the PSG & Sons’ Charities Trust (1926). The College was established
                            in the year 1951
                            and the Founders wisely decided to locate it in the same campus as the PSG Industrial
                            Institute for effective industry-institute interaction.</p>
                        <a target="blank" href="www.psgtech.edu">www.psgtech.edu</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="single-welcome">
                    <div class="endwelcome">
                        <h3>The Agricultural Research Institute (ARO)</h3>
                        <p>Israel’s Gene Bank for Agricultural Crops is also located on the ARO Volcani Center campus.,
                            responsible for Plant Sciences, Animal Science, Plant Protection, Soil, Water and
                            Environmental Sciences, Agricultural Engineering, and Postharvest and Food Sciences.
                            ARO also operates four research stations, in various parts of the country, and serves as a
                            testing center for agricultural produce and equipment.</p>
                        <a target="blank" href="www.agri.gov.il">www.agri.gov.il</a>
                        <div style="height:20px;"></div>
                        <h3>Kumaraguru College of Technology (KCT)</h3>
                        <p>Situated in the city of Coimbatore, a part of Nilgiri biosphere, KCT, with 35 years of
                            illustrious service continues to be the destination institution for students who seek
                            challenging academic programmes and co-curricular experiences, engaged faculty, and a
                            vibrant campus culture that will sustain them by the love of learning and a commitment to
                            responsible stewardship.</p>
                        <a target="blank" href="www.kct.ac.in">www.kct.ac.in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-area relative sky-bg text-center" id="contact-page">
    <div class="absolute footer-bg"></div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <h3>Conference helpline : +91 94890-11029 | iicsc@kct.ac.in</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 contact-padding">
                    <p>Prof. Eyal Ben-Dor, TAU<br>
                        bendor@tauex.tau.ac.il | +972-03-6405264</p>
                </div>
                <div class="col-sm-4 contact-padding">
                    <p>Dr. L. Ashok Kumar, PSGCT<br>
                        askipsg@gmail.com | +91 98432 81115</p>
                </div>
                <div class="col-sm-4 contact-padding">
                    <p>Mr. Ravi Kandasamy, KCT<br>
                        ravi.pmo@kct.ac.in | +91 94877-00814</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy; 2019 All right resurved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--Vendor-JS-->
<script src="{% static 'Registration/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'Registration/js/vendor/bootstrap.min.js' %}"></script>
<!--Plugin-JS-->
<script src="{% static 'Registration/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'Registration/js/contact-form.js' %}"></script>
<script src="{% static 'Registration/js/jquery.parallax-1.1.3.js' %}"></script>
<script src="{% static 'Registration/js/scrollUp.min.js' %}"></script>
<script src="{% static "Registration/js/magnific-popup.min.js" %}"></script>
<script src="{% static 'Registration/js/wow.min.js' %}"></script>
<!--Main-active-JS-->
<script src="{% static 'Registration/js/main.js' %}"></script>

</body>

</html>
