<!doctype html>
<html class="no-js" lang="zxx">
{% load  static %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Indo – Israel International Joint Conference </title>
    <!-- Place favicon.ico in the root directory -->
    <!-- Plugin-CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        label, select {
            color: black !important;
        }
        table,td,h4,h6{
            color: black;
        }
    </style>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'Registration/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'Registration/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Registration/css/responsive.css' %}">
    <script src="{% static 'Registration/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
{#        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    <![endif]-->
</head>

<body class="register_bg overlay" data-spy="scroll" data-target="#primary-menu">

<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>


<div class="register">
    <div class="container">
        <div class="row" style="margin: auto;">
            <h2>Indo – Israel International Joint Conference on Sustainable Cities</h2>
            <p>A joint conference in partnership between Tel Aviv University (TAU),<br>
                Agricultural Research Organization, Volcani Center (ARO),<br>
                PSG College of Technology (PSGCT) and Kumaraguru College of Technology (KCT)</p>
            <h5>18-20 September 2019 | PSGCT and Kumaraguru Campus, Coimbatore, Tamil Nadu, India</h5>
            <br>
            <div class="register-right">
                <form method="post">
                    <div class="row">
                        <div class="register-form">
                            <div class="container"></div>
                            {% csrf_token %}
                            <div class="register-form">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input name="id_organisation" type="text" id="id_organisation"
                                               class="form-control"
                                               placeholder="Organisation *" maxlength="150" required=""/>
                                    </div>
                                    <div class="form-group">
                                        <input name="id_organisation_address" type="text" id="id_organisation_address"
                                               class="form-control"
                                               placeholder="Organisation Address*" maxlength="150" required=""/>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select name="id_number_participants" id="id_number_participants"
                                                        class="form-control" required=""
                                                        onchange="onSelect_number_participant()">
                                                    <option value="" class="hidden">Number of Participants *
                                                    </option>
                                                    <option value="1">1 Participant</option>
                                                    <option value="2">2 Participants</option>
                                                    <option value="3">3 Participants</option>
                                                    <option value="4">4 Participants</option>
                                                    <option value="5">5 Participants</option>
                                                    <option value="6">6 Participants</option>
                                                    <option value="7">7 Participants</option>
                                                    <option value="8">8 Participants</option>
                                                    <option value="9">9 Participants</option>
                                                    <option value="10">10 Participants</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select name="id_deligate_category" id="id_deligate_category"
                                                        class="form-control"
                                                        required="" onchange="onSelect_deligate_type()">
                                                    <option value="" class="hidden">Deligate Category *</option>
                                                    <option value="0">DOMESTIC DELIGATE - INDUSTRY</option>
                                                    <option value="1">DOMESTIC DELIGATE - ACADEMIA</option>
                                                    <option value="2">DOMESTIC DELIGATE - RESEARCH SCHOLAR/PG STUDENT
                                                    </option>
                                                    <option value="3">INTERANTIONAL DELIGATE - ACADEMIA</option>
                                                    <option value="4">INTERANTIONAL DELIGATE - RESEARCH SCHOLAR/PG
                                                        STUDENT
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select name="id_registration_type" id="id_registration_type"
                                                        class="form-control"
                                                        required="" onchange="onSelect_registration_type()">
                                                    <option value="" class="hidden"> *</option>
                                                    <option value="0">CONFERENCE ONLY</option>
                                                    <option value="1">PRE-CONFERENCE WORKSHOP ONLY</option>
                                                    <option value="2">PRE-CONFERENCE WORKSHOP & CONFERENCE PACKAGE
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label><b>Participant Details</b></label>
                                        </div>
                                    </div>
                                    <div class="row reg">
                                        <div id="divDetail1" class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input name="id_name" type="text" id="id_name"
                                                           class="form-control"
                                                           placeholder="Name *" maxlength="150" required=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input name="id_email" type="email" id="id_email"
                                                           class="form-control"
                                                           placeholder="Email *" maxlength="150" required=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <input name="id_phone" type="text" id="id_phone"
                                                           class="form-control"
                                                           placeholder="Phone *" pattern="\d*" maxlength="10"
                                                           required=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <input name="id_designation" type="text" id="id_designation"
                                                           class="form-control"
                                                           placeholder="Designation *" maxlength="150" required=""/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <select name="id_gender" id="id_gender" class="form-control"
                                                            required="">
                                                        <option value="" class="hidden">Gender *</option>
                                                        <option value="0">Male</option>
                                                        <option value="1">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-panel teal" style="height: 20%!important;  ">

                        <h7 class="amount">Amount To Pay</h7>
                    </div>
                    <center>
                    <button type="submit" class="btn btn-success">Proceed To Pay</button>
                        </center>
                </form>
            </div>

        </div>
        <br>
        <br>
        <div class="card" style="background: white;border-radius: 10px">
            <div class="row" style="padding: 30px">
                <div class="col-sm-6 ">
                    <h4 style="color: black;">Domestic Delegates</h4>
                    <h6 style="color: black;">Delegates from Industry</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>Rs 4,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 3,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 6,000</td>
                        </tr>
                    </table>
                    <br>
                    <h6 style="color: black;">Delegates from Academia</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>Rs 3,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 2,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 4,000</td>
                        </tr>
                        <tr>
                            <td>Research Scholars/PG Students Conference only</td>
                            <td>Rs 2,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>Rs 1,000</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>Rs 2,5000</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h4 style="color: black;">International Delegates</h4>
                    <h6 style="color: black;">From Academia</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>$180</td>
                        </tr>
                    </table>
                    <br>
                    <h6 style="color: black;">Research Scholars/PG Students</h6>
                    <table>
                        <tr>
                            <td>Conference only</td>
                            <td>$70</td>
                        </tr>
                        <tr>
                            <td>Pre-conference Workshop only</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>Pre-conference workshop & Conference package</td>
                            <td>$90</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var part_temp = false;
    var deligate_temp = false;
    var registaration_temp = false;
    var number_participants = 0;
    var deligate_category = 0;
    var registration_type = 0;

    function onSelect_number_participant() {
        number = event.target.value;
        number_participants = number;
        $(".reg").empty();
        while (number--) {
            $(".reg").append("<div id=\"divDetail1\" class=\"row\">\n" +
                "                                            <div class=\"col-sm-3\">\n" +
                "                                                <div class=\"form-group\">\n" +
                "                                                    <input name=\"id_name\" type=\"text\" id=\"id_name\"\n" +
                "                                                           class=\"form-control\"\n" +
                "                                                           placeholder=\"Name *\" maxlength=\"150\" required=\"\"/>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"col-sm-3\">\n" +
                "                                                <div class=\"form-group\">\n" +
                "                                                    <input name=\"id_email\" type=\"email\" id=\"id_email\"\n" +
                "                                                           class=\"form-control\"\n" +
                "                                                           placeholder=\"Email *\" maxlength=\"150\" required=\"\"/>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"col-sm-2\">\n" +
                "                                                <div class=\"form-group\">\n" +
                "                                                    <input name=\"id_phone\" type=\"text\" id=\"id_phone\"\n" +
                "                                                           class=\"form-control\"\n" +
                "                                                           placeholder=\"Phone *\" pattern=\"\\d*\" maxlength=\"10\"\n" +
                "                                                           required=\"\"/>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"col-sm-2\">\n" +
                "                                                <div class=\"form-group\">\n" +
                "                                                    <input name=\"id_designation\" type=\"text\" id=\"id_designation\"\n" +
                "                                                           class=\"form-control\"\n" +
                "                                                           placeholder=\"Designation *\" maxlength=\"150\" required=\"\"/>\n" +
                "                                                </div>\n" +
                "                                            </div>\n" +
                "                                            <div class=\"col-sm-2\">\n" +
                "                                                <div class=\"form-group\">\n" +
                "                                                    <select name=\"id_gender\" id=\"id_gender\" class=\"form-control\"\n" +
                "                                                            required=\"\">\n" +
                "                                                        <option value=\"\" class=\"hidden\">Gender *</option>\n" +
                "                                                        <option value=\"0\">Male</option>\n" +
                "                                                        <option value=\"1\">Female</option>\n" +
                "                                                    </select>\n" +
                "                                                </div>\n" +
                "                                            </div>");
        }
        part_temp = true;
        check_true();
    }

    function onSelect_deligate_type() {
        deligate_temp = true;
        deligate_category = event.target.value;
        check_true();
    }

    function onSelect_registration_type() {
        registaration_temp = true;
        registration_type = event.target.value;
        check_true();
    }

    function check_true() {
        if (part_temp === true && deligate_temp === true && registaration_temp === true) {
            console.log("true");
            var data = {
                'number_participant': number_participants,
                'deligate_category': deligate_category,
                'registration_type': registration_type
            };
            $.ajax({
                type: "POST",
                url: "{% url 'gettotal' %}",
                data: data,
                success: function (data) {
                    var text = "Amount to Pay: " + data.money + ' ' + data.currency;
                    $(".amount").html(text);
                }
            });
        }
    }


</script>

<!--Vendor-JS-->
<script src="{% static 'Registration/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'Registration/js/vendor/bootstrap.min.js' %}"></script>
<!--Plugin-JS-->
<script src="{% static 'Registration/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'Registration/js/contact-form.js' %}"></script>
<script src="{% static 'Registration/js/jquery.parallax-1.1.3.js' %}"></script>
<script src="{% static 'Registration/js/scrollUp.min.js' %}"></script>
<script src="{% static "Registration/js/magnific-popup.min.js" %}"></script>
<script src="{% static 'Registration/js/wow.min.js' %}"></script>
<!--Main-active-JS-->
<script src="{% static 'Registration/js/main.js' %}"></script>

</body>

</html>
