{% extends 'dashboard/index.html' %}





{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Workshop Cash Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Action</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in workshoptransactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ transaction.id }}" id="">

                                                <input type="submit" class="btn btn-danger" value="REFUND">

                                            </form>
                                        </td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Team Event Transactions</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Action</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in teameventtransactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ transaction.id }}" id="">

                                                <input type="submit" class="btn btn-danger" value="REFUND">

                                            </form>
                                        </td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Event Cash Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Action</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in eventtransactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ transaction.id }}" id="">

                                                <input type="submit" class="btn btn-danger" value="REFUND">

                                            </form>
                                        </td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Workshop Team Cash Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Action</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for transaction in teamworkshoptransactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ transaction.id }}" id="">

                                                <input type="submit" class="btn btn-danger" value="REFUND">

                                            </form>
                                        </td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>




    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Workshop Transaction Refunds</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Status</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in workshoprefunded_transactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>Transaction amount refunded</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>





    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Team Workshop Refunded Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Status</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in refundedworkshopteamtransactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>Transaction Amount Refunded</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Event Refunded Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Status</th>
                                </tr>

                                </thead>


                                <tbody>


                                {% for transaction in refundedevent_transactions %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>Transaction Amount Refunded</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Team Event Refunded Transaction</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Yugam ID</th>
                                    <th>Workshop Name</th>
                                    <th>Amount</th>
                                    <th>Refunded By</th>
                                    <th>Status</th>
                                </tr>

                                </thead>


                                <tbody>
                                {% for transaction in teameventtransactions_refunded %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ transaction.user.first_name }}</td>
                                        <td>{{ transaction.user.profile.yugamid }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.created_by.first_name }}</td>
                                        <td>Transaction Amount Refunded</td>

                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


{% endblock %}

