{% extends 'dashboard/index.html' %}





{% block content %}

<div class="row">
<div class="col-md-12">

    <div class="x_panel">
        <div class="x_title">
            <h2>Transaction Refunds</h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Message</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>

                        </thead>


                        <tbody>


                                    {% for transaction in transactions %}

                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ transaction.user.first_name }}</td>
                                            <td>{{ transaction.name }}</td>
                                            <td>{{ transaction.amount }}</td>
                                            <td>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="hidden"  name="id" value="{{ transaction.id }}" id="">

                                            <input type="submit" class="btn btn-danger" value="REFUND">

                                        </form>
                                            </td>

                                        </tr>


                                    {% endfor %}


                        </tbody>


                    </table>
                </div>
            </div>

        </div>

    </div>

</div>

</div>



{% endblock %}
