<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			#nav {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #A5C339;
			}

			body {

			}

			a {
				font-size: 29px;
			}

			input {
				font-size: 29px;
			}

			button {
				font-family: "Times New Roman";
			}
		</style>
		<meta charset="UTF-8">
		<title>Payment</title>
        <script>

function func1(){
if( typeof PayUMoney !== 'undefined') {
    PayUMoney.success(1,'');
  }
}
function func2(){
if( typeof PayU !== 'undefined') {
    PayU.onSuccess('');
    }
}
function start(){
func1();
func2();
}

        </script>
	</head>
	<body onload="setTimeout(start, 3000)">
		<div>
{#			<div id="nav">#}
{#				<p align="center">KCT YUGAM 2K19</p>#}
{#			</div>#}
			<div align="center">
				<h2>Your Transaction was successfull</h2>
				<button id="clickme"><a href="{% url 'index' %}" style="text-decoration:none">Back To Home</a></button>
			</div>
		</div>
        <script>
            function start(){
                window.location.replace("{% url 'index' %}");
            }
        </script>
	</body>
</html>